/* ==== ХЕДЕР ==== */
.site-header {
  width: 100%;
  background-color: #fff;
  padding: 30px 0;
}

.header-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-img {
  width: 90px;
  height: 90px;
}

.logo-text .name {
  font-weight: 700;
  font-size: 25px;
  line-height: 26px;
  color: #333;
  margin-bottom: 3px;
}

.logo-text .desc {
  font-size: 14px;
  line-height: 30px;
  color: #666;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0px;
}

<<<<<<< HEAD
.phone-link {
  display: block; /* Розтягує на всю ширину */
  text-align: left; /* Вирівнювання тексту вліво */
=======
.phones p {
  margin: 0;
>>>>>>> c0f4ba4691569ed4127a7fe57de7064a016b9bbf
  font-size: 35px;
  color: #444;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  line-height: 1.2;
<<<<<<< HEAD
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.phone-link:hover {
  color: #000;
}


=======
}

>>>>>>> c0f4ba4691569ed4127a7fe57de7064a016b9bbf
.feedback-link {
  margin-top: 1px;
  font-size: 21px;
  font-family: 'PTSansCustom', sans-serif;
  font-weight: 700;
  color: #000;
  background-color: transparent;
  border: none;
  text-decoration: none;
  border-bottom: 1px dashed #000;
  cursor: pointer;
  transition: 0.2s ease;
  display: inline-block;
}

.feedback-link:hover {
  opacity: 0.7;
}
